.listWrapper {
  width: 50vw;
  margin: 50px auto 0;

  @media (max-width: 760px) {
    width: 100%;

    ul {
      padding: 0 2em;
    }
  }
}

.listWrapper__noItems {
  font-size: 1.2em;
  color: darkgrey;
  display: block;
  width: 100%;
  margin-top: 100px;
  text-align: center;
}

.listWrapper__header {
  font-size: 1.2em;
  color: rgb(80, 80, 80);
  display: block;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 0;
  text-align: left;
  
  @media (max-width: 760px) {
    text-align: center;
  }
}
