@keyframes appear {
  0% {
    opacity: 0;
    top: 35px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.wrapper {
  list-style: none;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  position: relative;
  animation: appear 0.5s ease;
  border: 1px solid;
}

.wrapper__description {
  margin: 10px 0 20px;
  font-weight: 300;
  font-size: 0.8em;

  span {
    font-weight: 500;
  }
}
