.innerListWrapper {
    width: 35vw;
    margin: 0 auto 0;
    @media (max-width: 760px) {
      width: 100%;
  
      ul{
        padding:0 2em;
      }
    }
  }

  .innerListWrapper__noItems {
    font-size: 1.2em;
    color: darkgrey;
    display: block;
    width: 100%;
    margin-top: 100px;
    text-align: center;
  }

  .innerListWrapper__header {
    font-size: 1em;
    color: rgb(80, 80, 80);
    display: block;
    width: 100%;
    text-align: left;

    
  @media (max-width: 760px) {
    margin-left:1em;
  }
  }

  .innerListWrapper__list{

    li:nth-child(even){
      background-color:rgba(13, 114, 190, 0.1);
    }

    li:not(:first-child) {
      margin-top:3em;
    }

  }