.headerSection{
    background-color:#64D7DC;

}

.headerSection__body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width:100%;
    

    h1{
        color:white;
    }
}